# Unstructured raw files and media
newfolder/
folder-structure.txt
*.mp4
*.sfk
*.veg
*.msi
*.log
caledra.txt
deploy_fail.txt

# System & IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo

# Ansible temporary files
*.retry
.ansible/
